<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="市卡管接口地址" value="http://32.50.28.99:6060/webservice?wsdl"/>
		<add key="省卡管接口地址" value="http://32.0.249.244/eapdomain/services/CardCenterPubInterface"/>
		<add key="IC" value="Y"/>
		<add key="打印机" value="N"/>
		<add key="身份证读取" value="Y"/>
		<add key="身份证扫描" value="Y"/>
		<add key="摄像头" value="Y"/>
		<add key="二维码" value="Y"/>
		<add key="风格" value="3"/>
		<add key="设备型号" value="CW-YCPKS10"/>
		<add key="设备编号头" value="ZJCWKS10"/>
		
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
